header{
    background: #EDF6E5;

}
body{
    background: #B5EAEA;

}
nav{
    background: #EDF6E5;

}
section{
    background: #FFBCBC;
    grid-column: 1/4;

}
aside{
    background: #F38BA0;
    grid-column: 4/5;

}
footer{
    background: #EDF6E5;
    text-align: center;
}
main{display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
